.navbar-custom {
  background-color: #769154;
}

.navbar-text {
  font-size: 1.25rem;
}

.rotated-text {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

/* Drag and Drop Component Styling */
.dnd-group {
  background-color: #49505e;
  border-radius: 5px;
  padding: 0.5rem;
}
.dnd-item {
  background-color: #84a55c;
  border-radius: 5px;
  padding: 0.5rem;
  margin-left: 10px;
}

.unselected {
  background-color: aliceblue;
  color: rgb(151, 148, 148);
}

.group-title {
  text-align: left;
  font-size: 1.5rem;
  margin-right: 2px;
}
.current {
  background-color: #687181;
}
