.navbar-custom {
  background-color: #769154;
  color: white;
}

.resource-square {
  height: 32px;
  width: 32px;
}

.resource {
  background-color: #769154;
}

.test {
  border: 5px solid rgba(128, 128, 128);
  background-color: green;
}

.rotated-text {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}
